In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
#1Task
#df.value_counts('sex')
first = df.value_counts('sex')
print(f'Чоловіків - {first[0]}. А жінок - {first[1]}')

Чоловіків - 21790. А жінок - 10771

In [4]:
#2Task
second = df[df['sex'] == 'Female']['age'].mean().round()
print(f'Середній вік жінок - {second}')

Середній вік жінок - 37.0

In [5]:
#3Task
all_countries = df['native-country'].count()
third = df[df['native-country'] == 'Germany']['native-country'].count()
percentG = all_countries-third
print(f'Загальна кількість людей у всіх країнах {all_countries}')
print(f'Загальна кількість німців {third}')
print(f'Загальна кількість німців {percentG}')

Загальна кількість людей у всіх країнах 32561
Загальна кількість німців 137
Загальна кількість німців 32424

In [6]:
#4-5Task

salary_more = df[df['salary'] == '>50K']['age'].mean().round()
salary_more_std = df[df['salary'] == '>50K']['age'].std().round()
salary_less = df[df['salary'] == '<=50K']['age'].mean().round()
salary_less_std = df[df['salary'] == '<=50K']['age'].std().round()


print(f'Середній вік тих хто получає більше 50к: {salary_more}.\n'
        f'Середній вік тих хто получає менше 50к: {salary_less}.\n'
        f'Їх середньо-квадратичні відхилення відповідно: {salary_more_std} та {salary_less_std}')

Середній вік тих хто получає більше 50к: 44.0.
Середній вік тих хто получає менше 50к: 37.0.
Їх середньо-квадратичні відхилення відповідно: 11.0 та 14.0

In [7]:
#6Task

education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

salary = df[df['salary'] == '>50K']['salary'].count()
poor = df.loc[df['education'].isin(education), 'salary'][df['salary'] == '>50K'].count()
if (salary - poor) > 0:
    print('False')
else:
    print('True')

False

In [40]:
#7Task

race = ['sex', 'race']
age = ['age']
amer_race = df['race'] == 'Amer-Indian-Eskimo'

stat = df.groupby(['age'])[race].describe()
race_stat = df.groupby([amer_race])[age].agg([np.min, np.max])
print(race_stat)
print("____________________________________________________________________________")
print(stat)

       age
      amin amax
race
False   17   90
True    17   82
____________________________________________________________________________
      sex                      race
    count unique     top freq count unique    top freq
age
17    395      2    Male  209   395      5  White  349
18    550      2    Male  282   550      5  White  483
19    712      2  Female  356   712      5  White  630
20    753      2    Male  390   753      5  White  653
21    720      2    Male  391   720      5  White  627
..    ...    ...     ...  ...   ...    ...    ...  ...
85      3      2    Male    2     3      1  White    3
86      1      1  Female    1     1      1  White    1
87      1      1    Male    1     1      1  White    1
88      3      2    Male    2     3      1  White    3
90     43      2    Male   29    43      3  White   34

[73 rows x 8 columns]

In [111]:
#8Task
#______#
status_maried = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
not_maried = ['Never-married', 'Divorced']
#______#
# status_all = df['marital-status']
status_salary = df['salary'].count()
#______#
status_not_maried = df.loc[df['marital-status'].isin(not_maried), 'salary'][df['salary'] == '>50K'].count()
status_maried = df.loc[df['marital-status'].isin(status_maried), 'salary'][df['salary'] == '>50K'].count()
percent = (status_maried / status_not_maried ).round()
#______#
print(f'Зарплата більше 50К у жонатих == {status_maried} осіб нещасних.\n'
      f'Зарплата більше 50К у не жонатих == {status_not_maried} дуже щасливих осіб.\n'
      f'На одного не жонатого дуже щасливого чоловіка у якого дохід більше 50k, припадає {percent} таких же самих лише не щасливих жонатих чоловічків.'
     )

Зарплата більше 50К у жонатих == 6736 осіб нещасних.
Зарплата більше 50К у не жонатих == 954 дуже щасливих осіб.
На одного не жонатого дуже щасливого чоловіка у якого дохід більше 50k, припадає 7.0 таких же самих лише не щасливих жонатих чоловічків.

In [337]:
#9Task

hor1 = df.loc[df['hours-per-week'] == 99].count().max()
hor = df.loc[df['hours-per-week'] == 99, 'salary'][df['salary'] == '>50K'].count()
hor2 = df.loc[df['hours-per-week'] == 99, 'salary'][df['salary'] == '<=50K'].count()

print(f'Максимальних кількість робочих годин в тиждень == 99.\n'
      f'Кількість працючих людей 99 годин/тиждень  == {hor1}.\n'
      f'При таких умовах кількість людей {hor}, у яких зарплата більше 50к.\n'
      f'При таких умовах кількість людей {hor2}, у яких зарплата менше 50к.\n')

Максимальних кількість робочих годин в тиждень == 99.
Кількість працючих людей 99 годин/тиждень  == 85 .
При таких умовах кількість людей 25, у яких зарплата більше 50к.
При таких умовах кількість людей 60, у яких зарплата менше 50к.

In [437]:
#10Task
sort = ['hours-per-week','age']
stat = df.groupby(['native-country','salary','sex'])[sort].mean()


#print(mean)
print(stat)

                              hours-per-week        age
native-country salary sex
?              <=50K  Female       37.671233  36.465753
                      Male         41.415808  37.048110
               >50K   Female       35.764706  43.764706
                      Male         46.837209  44.403101
Cambodia       <=50K  Female       40.000000  25.000000
...                                      ...        ...
Vietnam        >50K   Male         39.000000  33.500000
Yugoslavia     <=50K  Female       30.000000  40.500000
                      Male         44.500000  37.375000
               >50K   Female       40.000000  40.000000
                      Male         51.400000  40.200000

[155 rows x 2 columns]